body {
    background-image: url(../calculadoradosrico/assets/dolares.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#principal{
    width: 80vw;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px rgb(110, 10, 10);
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    width: 25%;
    margin-top: 10px;
    background-size: cover;
    font-size: 20px;
    font-weight:bolder;
    background-color: black;
    color: white;
}
input{
    text-align: center;
    border: solid 1px  black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    width: auto;
    
}
input:focus {
    background-color: rgb(129, 180, 133);
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.resultado-container{
    /* display: flex; */
    justify-content: center;
    display: none;

}
button {
    display: block;
    border-radius: 5px;
    padding: 9px;
    /* margin-left: 35px; */
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
    /* width: 180px; */
}

button:hover{
    background: linear-gradient( rgba(62,74,61,1) 4%, rgba(9,121,18,1) 47%, rgba(92,200,47,1) 100%); 
    color: white;
    transition:ease-in-out;
    padding: 8px;
}
.valor-texto{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

#resultado {
    display: block;
    background-color: green;
    font-size: 20px;
    color:white;  
    border-radius: 5px;
    text-align: center;
}
p{
    text-align: center;
}

.aviso{
    display: flex;
    flex-wrap: wrap;
    border: solid 3px rgb(155, 13, 13);
    background-color: black;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

label{
    display: block;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 400px) {
        
    .aviso{
        width: 80%;
    }
    .main{
        width: 75%;
    }
	input{
        text-align: center;
        width: 100%;
    }
    label{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 16px;
        
    }
    .valor-texto{
        width: 25%;
    }
    #resultado{
        display: inline-block;
        justify-content: center;
        /* text-align: center; */
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .aviso{
        width: 68%;
    }
    .main{
        width: 65%;
    }
	input{
        text-align: center;
        width: 100%;
    }
    label{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 16px;
        
    }
    #resultado{
        display: inline-block;
        justify-content: center;
        /* text-align: center; */
        width: 80%;
    }
}

@media screen and (max-width: 805px) {
    .aviso{
        width: 50%;
    }
    .main{
        width: 45%;
    }
	input{
        text-align: center;
        width: 100%;
    }
    label{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 16px;
        
    }
}

@media screen and (max-width: 1200px) {
	input{
        text-align: center;
        width: 100%;
    }
    label{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 16px;
        
    }
}
@media screen and (max-width: 2000px) {
    .aviso{
        width: 30%;
    }
    .main{
        width: 20%;
    }
	input{
        text-align: center;
        width: 100%;
    }
    label{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 16px;
        
    }
    .valor-texto{
        width: 40%;
    }
    #resultado{
        display: inline-block;
        justify-content: center;
        /* text-align: center; */
        width: 90%;
    }
    label{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
}